* {
  box-sizing: border-box;
  will-change: transform;
}

body {
  padding: 0;
  margin: 0;
}

svg {
  overflow: visible !important;

  * {
    overflow: visible !important;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  .logoSVG {
    display: block;
    position: relative;
    top: -20px;
    width: 160px;
    height: auto;
    overflow: visible;

    .logoTEXT path {
      transform-origin: 50% 50%;
      opacity: 0;
    }

    .logoICON {
      transform-origin: 90% 30%;
      opacity: 0;
    }
  }
}

.logoSVG {
  .logoICON {
    transform-origin: 90% 30%;
  }

  &:not(.logoSVG--preloader):hover {
    cursor: pointer;
  }
}

.animText .letter {
  transform-origin: 50% 100%;
  display: inline-block;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
}

nav {
  position: absolute;
  top: 40px;
  z-index: 90;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      transform-origin: 50% 100%;

      a {
        border: 0.5px solid transparent;
        padding: 6px 12px;
        border-radius: 100px;
        margin-right: 20px;
        color: $slate700;
        text-decoration: none;
        transition: all 220ms linear;

        &:hover,
        &.active {
          border-color: $slate300;
          color: $slate900;
        }
      }
    }
  }
}

.leftPad {
  margin-left: $container-width - $portfolio-video-width;
}
