.package {
  width: 100%;
  max-width: 420px;
  background: white;
  border-radius: 20px;
  padding: 60px 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid $primary400;
  position: relative;

  .cockpit {
    text-align: center;

    h3,
    h2 {
      color: $slate900;
      font-weight: 700;
    }

    .price {
      font-size: 64px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: baseline;

      &--discounted {
        margin-top: 0px;
      }

      .time {
        font-size: 24px;
        font-weight: 500;
      }

      &--striked {
        color: $slate300;
        font-size: 48px;
        font-weight: 400;
        position: relative;
        display: inline;

        &::after {
          content: "";
          width: 110%;
          height: 3px;
          border-radius: 10px;
          background: $slate900;
          position: absolute;
          top: calc(50% - 1.5px);
          left: -5%;
        }
      }
    }

    .discount {
      display: inline-block;
      background: $primary100;
      color: $primary800;
      padding: 8px 16px;
      margin: 24px 0 10px 0;
      font-size: 18px;
      font-weight: 700;
    }

    p {
      color: $slate700;
      margin-top: 10px;
    }
  }

  ul.deliverables {
    list-style: none;
    padding: 0;
    margin: 40px 0;

    li {
      font-size: 20px;
      margin-bottom: 16px;
      color: $slate400;
      display: flex;
      align-items: center;

      img {
        height: 16px;
        margin-right: 16px;
        filter: grayscale(1);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        color: $slate900;
        font-weight: 500;

        img {
          filter: grayscale(0);
        }
      }
    }
  }

  .cta {
    margin-top: 20px;
  }

  .text-stamp {
    position: absolute;
    top: -50px;
    right: -30px;
    z-index: 2;
    max-width: 120px;
  }
}
