.testimonial {
  &.video {
    position: relative;
    max-width: $portfolio-video-width-lg;
    margin-top: 80px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: 0;

    &:last-of-type {
      margin-bottom: 80px;
    }

    &:nth-of-type(2n + 1) {
      margin-left: 0;
      margin-right: auto;

      .text-stamp {
        left: auto;
        right: -80px;
        top: calc($portfolio-video-width-lg * 9 / 16) - 80px;

        @include for-small-desktops-only {
          top: calc($portfolio-video-width-sm * 9 / 16) - 80px;
        }
      }

      .content {
        margin-right: auto;
        margin-left: 0;
      }
    }

    .text-stamp {
      position: absolute;
      left: -80px;
      top: calc($portfolio-video-width-lg * 9 / 16) - 80px;

      @include for-small-desktops-only {
        top: calc($portfolio-video-width-sm * 9 / 16) - 80px;
      }
    }

    video {
      width: $portfolio-video-width-lg;
      margin-bottom: 80px;

      @include for-small-desktops-only {
        width: $portfolio-video-width-sm;
      }
    }

    .content {
      max-width: 75%;
      margin-left: auto;

      h3 {
        line-height: 1.3;
        margin-bottom: 40px;
      }

      .profile {
        h4 {
          margin-bottom: 4px;
        }

        p {
          margin: 0px;
        }
      }
    }

    .button {
      margin-top: 80px;
    }

    @include for-small-desktops-only {
      max-width: $portfolio-video-width-sm;
    }
  }
}
