$white: #ffffff;
$black: #000000;
$slate50: #f8fafc;
$slate100: #f1f5f9;
$slate200: #e2e8f0;
$slate300: #cbd5e1;
$slate400: #94a3b8;
$slate500: #64748b;
$slate600: #475569;
$slate700: #334155;
$slate800: #1e293b;
$slate900: #0f172a;
$primary50: #f7fee7;
$primary100: #ecfccb;
$primary200: #d9f99d;
$primary300: #bef264;
$primary400: #a3e635;
$primary500: #84cc16;
$primary600: #65a30d;
$primary700: #4d7c0f;
$primary800: #3f6212;
$primary900: #365314;
$secondary50: #fefce8;
$secondary100: #fef9c3;
$secondary200: #fef08a;
$secondary300: #fde047;
$secondary400: #facc15;
$secondary500: #eab308;
$secondary600: #ca8a04;
$secondary700: #a16207;
$secondary800: #854d0e;
$secondary900: #713f12;

$container-width: 1336px;
$portfolio-video-width: 1045px;
$card-width: 550px;
