<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>
<div class="logo">
    <img src="./images/client-1.png" alt="Kolibri">
</div>