@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/typography";
@import "./imports/buttons";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

svg {
  overflow: visible !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  .logoSVG {
    display: block;
    position: relative;
    top: -20px;
    width: 160px;
    height: auto;
    overflow: visible;

    .logoTEXT path {
      transform-origin: 50% 50%;
      opacity: 0;
    }

    .logoICON {
      transform-origin: 90% 30%;
      opacity: 0;
    }
  }
}

.logoSVG {
  .logoICON {
    transform-origin: 90% 30%;
  }

  &:hover {
    cursor: pointer;
  }
}

.animText .letter {
  transform-origin: 50% 100%;
  display: inline-block;
}

.container {
  max-width: 1336px;
  margin: 0 auto;
  position: relative;
}

nav {
  position: absolute;
  top: 40px;
  z-index: 90;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      transform-origin: 50% 100%;

      a {
        border: 0.5px solid transparent;
        padding: 6px 12px;
        border-radius: 100px;
        margin-right: 20px;
        color: inherit;
        text-decoration: none;
        transition: all 220ms linear;

        &:hover,
        &.active {
          border-color: $slate300;
        }
      }
    }
  }
}

#hero {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  .carousel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    img {
      max-height: 400px;
      margin-bottom: 60px;
    }
  }

  .logoSVG {
    width: 160px;
    height: auto;
    margin-bottom: 40px;
  }

  h1 {
    max-width: 419px;
  }

  .button {
    margin-top: 40px;
  }
}

#works {
  background: $slate900;
  padding: 160px 0;
  color: white;
  position: relative;

  .text-stamp {
    display: block;
    position: absolute;
    top: -50%;
  }

  .clients {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__logos {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);

      .logo {
        width: 140px;
        height: 140px;
        border-radius: 8px;
        background: $slate800;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
